<div class="row">
  <div class="large-8 column">
    <ul class="small-block-grid-3">
      <% @posts.each do |post| %>
        <li>
          <%= image_tag post.image_url().to_s %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="large-4 column">
    This is the place for the first post
  </div>
</div>
