<div class="row container">
	<div class="row nav-padding">
	  <div class="text-center">
	    <h1>Technology, Psychology, Philosophy</h1>
	    <h5>Technology with a slice of Psychology and Philosophy</h5>
	  </div>
	  <div class="medium-12 large-12 column">
	    <dl class="sub-nav left">
	      <dd><h5>{{#link-to 'index'}}Home{{/link-to}}</h5></dd>
	      <dd><h5>{{#link-to 'posts'}}Blog{{/link-to}}</h5></dd>
	      <dd><h5>{{#link-to 'reviews'}}Reviews{{/link-to}}</h5></dd>
	    </dl>
	  </div>
	</div>
	{{outlet}}
</div>
