<div class="row">
	<div class="medium-8 large-8 column">
		<ul class="small-block-grid-3">
		  <li><img src="http://placehold.it/400x300"></li>
		  <li><img src="http://placehold.it/400x300"></li>
		  <li><img src="http://placehold.it/400x300"></li>
		  <li><img src="http://placehold.it/400x300"></li>
		  <li><img src="http://placehold.it/400x300"></li>
		  <li><img src="http://placehold.it/400x300"></li>
		  <li><img src="http://placehold.it/400x300"></li>
		  <li><img src="http://placehold.it/400x300"></li>
		  <li><img src="http://placehold.it/400x300"></li>
		</ul>
	</div>
	<div class="medium-4 large-4 column">
		<img src="http://placehold.it/400x640&text=TEXT HERE">
	</div>
</div>
