body {
  margin-top: 50px;
}

#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  padding: 5px 15px;
}

#tag_cloud {
  line-height: 1.6em;
  .s { font-size: 0.6em; }
  .m { font-size: 0.9em; }
  .l { font-size: 1.2em; }
}
