<div class="row nav-padding">
  <div class="text-center">
    <h1>Technology, Psychology, Philosophy</h1>
    <h5>Technology with a slice of Psychology and Philosophy</h5>
  </div>
  <div class="medium-12 large-12 column">
    <dl class="sub-nav left">
      <dd><h5><a href="/">Home</a></h5></dd>
      <% if current_user.present? %>
        <dd><h5><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></a></h5></dd>
      <% end %>
    </dl>
  </div>
</div>
